.cartao-filme {
  flex: 0 0 auto; 
  width: 120px;
  margin-right: 10px;
  scroll-snap-align: start;
}

.cartao-filme:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.cartao-filme img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.movie-title {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

@media (min-width: 600px) {
  .cartao-filme {
    width: 30%;
    margin: 1.5%;
  }
}

@media (min-width: 900px) {
  .cartao-filme {
    width: 22%;
    margin: 1%;
  }
}

@media (min-width: 1200px) {
  .cartao-filme {
    width: 18%;
    margin: 1%;
  }
}
